@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    /* margin: 0; */
    line-height: 1.2;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2{
    margin: 0;
}

.first p, .second {
    margin: 0.2rem;
    font-weight: 600;
}

h2:first-of-type {
    font-size: 2rem;
    color: grey;
}

.first, .second, .third {
    padding: 0.5rem 5rem;
}

.first {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.first img{
    width: 200px;
    height: 200px;
    clip-path: circle(30% at 30% 35%);
}

.second div:first-of-type a:last-of-type {
    padding-top: 1rem;
}


.second div:nth-of-type(2) a:last-of-type {
    padding-top: 1rem;
}

.second {
    background: rgba(128, 128, 128, 0.3);
}

.second a {
    display: block;
    text-decoration: none;
    color:#000;
}

.second, .third {
    display: flex;
    justify-content: space-between;
}

.third {
    margin-top: 1rem;
}  

.third:nth-child(2) {
    margin-left: 2rem ;
}

.third div {
    margin-bottom: 2.5rem;
}

#skills p {
    background-color: grey;
    border-radius: 5px;
    padding: 0.5rem 0.1rem;
    width: 20%;
    color: white;
    text-align: center;
    display: inline-block;
    /* margin: 1px auto; */
}

#skills p:nth-of-type(4), #skills p:nth-of-type(6) {
    width: 50%;
}

.third p {
    line-height: 1.2;
}

.third div:nth-of-type(2) {
    width: 50%;
 }

 #languages #language-content {
     display: flex;
     justify-content: space-between;
 }

 #languages p {
     font-style: italic;
 }

 #interests p {
    border: solid 1px grey;
    border-radius: 5px;
 }

 @media screen and (max-width: 768px) {
    .first, .second, .third {
        padding: 0.1rem;
    }
    .third {
        flex-direction: column;
    }
    #skills p {
        width: 100%;
    }
 }